{{ define "main" }}
{{ partial "main/page-title.html" . }}

<section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-2 py-16 sm:px-6 md:px-36 lg:px-56">
      <div class="grid grid-cols-1">
        <div class="rounded-lg bg-white p-12 shadow-lg">
          <p class="max-w-xl text-2xl font-bold text-pink-600">
            Thank you for subscribing!
          </p>
          <p class="max-w-xl text-xl">
            Please check your email to confirm the subscription.
          </p>
        </div>
      </div>
    </div>
  </section>

{{ end }}