{{ $all_articles := where .Site.RegularPages "Section" "articles" }}
{{ $essay_contest_cats := slice "First Place" "Second Place" "Third Place" "Runner-up" "Honorable Mention"}}
{{ $essay_contest_articles := where $all_articles ".Params.essay_contest" "intersect" $essay_contest_cats }}
{{ $articles := $all_articles | symdiff $essay_contest_articles }}

<section id="articles" class="w-full">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        
        {{ range first 1 $articles}}
        {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
        <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
                <a href="{{ .RelPermalink }}" class="relative z-10 lg:py-16">
                    <div class="relative h-64 sm:h-80 lg:h-full">
                        {{ if .Site.Params.hyas_images }}
                            {{ partial "picture" (dict
                            "ctx" .
                            "src" $image
                            "alt" .Title
                            "widths" (slice 300 480 640 768 1024)
                            "class" "img-fluid absolute inset-0 h-full w-full object-cover"
                            "loading" "auto"
                            )}}
                        {{ else }}
                            <img alt="House" src="{{ $image.RelPermalink }}" class="absolute inset-0 h-full w-full object-cover" />
                        {{ end }}
                    </div>
                </a>

                <div class="relative flex items-center bg-gray-100">
                    <span class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"></span>

                    <div class="p-8 sm:p-16 lg:p-24">
                        <a href="{{ .RelPermalink }}" class="text-2xl font-bold sm:text-3xl">
                            {{ .Params.title }}
                        </a>

                        <p class="mt-4 text-gray-600">
                            {{ .Params.excerpt | safeHTML }}
                        </p>

                        <a href="{{ .RelPermalink }}" class="mt-8 btn-yellow w-fit">
                            Read article
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

        <div class="w-full grid grid-cols-1 auto-rows-fr gap-8 md:grid-cols-2">
            {{ range first 6 ( after 1 $articles ) }}
                {{ partial "article/card.html" . }}
            {{ end }}
        </div>
    </div>
</section>