{{ define "main" }}
{{ partial "main/page-title.html" . }}
<section id="jobs" class="w-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="w-full grid grid-cols-1 gap-8 py-12 auto-rows-fr md:grid-cols-2">
      <div class="flex flex-col space-y-4 justify-center border bg-white shadow-lg p-6 leading-normal">

        <p class="text-2xl">The protein industry job board for career and consulting opportunities</p>

      </div>
      <div class="flex flex-col items-center justify-center border bg-white shadow-lg p-6">
        <a class="text-2xl btn-yellow mx-auto" href="mailto:hello@proteinreport.org">Post Job Announcement</a>
      </div>
    </div>

    <div class="w-full grid grid-cols-1 auto-rows-fr gap-8">
      {{ $paginator := .Paginate (.Data.Pages) -}}
      {{ range $paginator.Pages -}}
        {{ partial "job/card.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="flex flex-wrap  justify-center">
    <div class="md:w-full pr-4 pl-4 lg:w-3/4 pr-4 pl-4">
      {{ partial "main/pagination.html" . }}
    </div>
  </div>
</section>

{{ end }}