{{ define "main" }}
<article>
  <div class="mx-auto w-full border-y-4 mt-12">
    <div class="py-12 px-2 mx-auto text-center max-w-7xl 2xl:border-x-4">
      <h1 class="text-4xl md:text-6xl">{{ .Title }}</h1>
      <div class="flex pt-4 text-2xl justify-center">
        {{ partial "job/meta.html" . }}
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 mx-auto mt-6 max-w-7xl md:grid-cols-3 2xl:border-x-4">
    <div class="flex flex-col w-full md:col-span-2 break-words px-2 md:border-r-2">
      <div class="w-full prose prose-xl leading-normal mx-auto py-4">
        {{ .Content }}
      </div>
      {{ with .Params.how_to_apply }}
        <h3 class="border-b-2 text-xl font-bold mb-2 pb-2">How to apply</h3>
        <p class="text-xl">{{ . | markdownify }}</p>
      {{ end }}
      {{ with .Params.application_link }}
      <div class="px-2 md:px-6 lg:px-12 mt-6 w-full">
        <a href="{{ . }}" class="btn-yellow text-xl w-full">Apply</a>
      </div>
      {{ end }}
    </div>
    <div class="flex flex-col w-full gap-6 md:col-span-1">
      <aside class="flex flex-col gap-4 w-full mt-2 px-2 md:pl-0">
        <div>
          <h3 class="text-lg font-bold">Job posted by:</h3>
          {{ partial "job/company.html" . }}
        </div>
        <div>
          {{ partial "job/details.html" . }}
        </div>
      </aside>
    </div>
  </div>
</article>
{{ end }}