{{ define "main" }}
<article>
  {{ partial "main/page-title.html" . }}
  <div class="grid grid-cols-1 gap-6 mx-auto mt-6 max-w-7xl md:grid-cols-3 md:divide-x-2 2xl:border-x-4">
    <div class="relative w-full flex justify-center items-center">
      {{ $image := .Resources.GetMatch .Params.featured_image -}}
      {{ if $image -}}
        {{ if .Site.Params.hyas_images }}
          {{ partial "picture" (dict
          "ctx" .
          "src" $image
          "alt" .Title
          "class" "img-fluid aspect-square object-cover"
          "loading" "auto"
          )}}
        {{ else }}
          <img src="{{ $image.RelPermalink }}" class="aspect-square object-cover">
        {{ end }}
      {{ end -}}
    </div>
    <aside class="w-full flex flex-col md:col-span-2 justify-center items-center">
      <div class="flex flex-col items-center w-full break-words px-2 md:px-6">
        <div class="text-xl">
          {{ .Content }}
        </div>
        <div class="w-full">
          {{ partial "contributor/links.html" . }}
        </div>
      </div>
    </aside>
  </div>
  </div>
</article>
<aside>
  {{ partial "contributor/articles.html" . }}
</aside>
{{ end }}