{{ if .Params.company}}
  {{ $company_uuid := .Params.company }}
  {{ $companies := where site.RegularPages "Type" "directory" }}
  {{ with where $companies ".Params.uuid" $company_uuid }}
    {{ with index . 0 }}
      {{ if .Params.featured_image }}
          <div class="flex flex-col flex-wrap border-y-2 my-2">
            {{ $image := .Resources.GetMatch .Params.featured_image }}
            {{ $img_alt := printf "%s%s" .Title " logo" }}
            <a href="{{ .RelPermalink }}" class="flex flex-row items-center sm:w-full md:max-w-1/2 lg:w-full">
              {{ if .Site.Params.hyas_images }}
                {{ partial "picture" (dict
                "ctx" .
                "src" $image
                "alt" $img_alt
                "class" "img-fluid blur-up aspect-video w-full object-contain my-2"
                )}}
              {{ else }}
                <img src="{{ $image.RelPermalink }}" class="aspect-video w-full object-contain my-2" alt="{{ $img_alt }}">
              {{ end }}
              <p class="text-xl pl-4">{{.Title}}</p>
            </a>
          </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ else if .Params.company_name }}
  <div class="flex flex-row flex-wrap border-y-4 m-2">
    <a href="{{ .Params.company_link }}" target="_blank" class="flex flex-row sm:w-full md:max-w-1/2 lg:w-full items-center">
      <p class="text-xl pl-4">{{ .Params.company_name }}</p>
    </a>
  </div>
{{ end }}
