<div class="flex flex-row flex-wrap gap-2 py-4 w-full">
  {{ if .Params.website -}}
    <a class="border-2 p-2" target="_blank" href="{{ .Params.website }}">Website</a>
  {{ end -}}
  {{ if .Params.linkedin -}}
    <a class="border-2 p-2" target="_blank" href="{{ .Params.linkedin }}">LinkedIn</a>
  {{ end -}}
  {{ if .Params.twitter -}}
    <a class="border-2 p-2" target="_blank" href="{{ .Params.twitter }}">Twitter</a>
  {{ end -}}
  {{ if .Params.instagram -}}
    <a class="border-2 p-2" target="_blank" href="{{ .Params.instagram }}">Instagram</a>
  {{ end -}}
  {{ if .Params.facebook -}}
    <a class="border-2 p-2" target="_blank" href="{{ .Params.facebook }}">Facebook</a>
  {{ end -}}
  {{ if .Params.youtube -}}
    <a class="border-2 p-2" target="_blank" href="{{ .Params.youtube }}">Youtube</a>
  {{ end -}}
  {{ if .Params.crunchbase -}}
    <a class="border-2 p-2" target="_blank" href="{{ .Params.crunchbase }}">Crunchbase</a>
  {{ end -}}
</div>