{{ $image := "" }}
{{ $image_small := "" }}

{{ if .Params.additional_images }}
    <div class="grid grid-cols-2 gap-2 mt-2">
    {{ range $index, $val := $.Params.additional_images }}
        {{ $image = $.Resources.Get .src }}
        {{ $image_small = $image.Resize "300x webp"}}
        
        {{ if $image }}
            <a href="{{ $image.RelPermalink }}" class="glightbox" aria-label="{{if .caption}}{{ .caption | safeHTML }}{{else}}additional images {{$index}}{{end}}" data-glightbox="description: .image-caption-{{ $index }};">
                <img src="{{ $image_small.RelPermalink }}" alt="{{ if .caption }}{{ .caption | safeHTML }}{{ end }}" class="w-full aspect-video object-cover">
            </a>
            {{ if .caption }}
            <div class="glightbox-desc image-caption-{{ $index }}"> 
                <span>{{ .caption | safeHTML }}</span>
            </div>
            {{ else }}
            <div class="glightbox-desc image-caption-{{ $index }}">
                <span></span>
            </div>
            {{ end}}
        {{ end }}
    {{ end }}
    </div>
{{ end }}