{{ if .Params.company}}
  {{ $company_uuid := .Params.company }}
  {{ $companies := where site.RegularPages "Type" "directory" }}
  {{ with where $companies ".Params.uuid" $company_uuid }}
    {{ with index . 0 }}
            <a href="{{ .RelPermalink }}">
              {{.Title}}
            </a>
      
    {{ end }}
  {{ end }}
{{ else if .Params.company_name }}
  
    <a href="{{ .Params.company_link }}" target="_blank">
      {{ .Params.company_name }}
    </a>
  
{{ end }}
