<section id="newswire" class="w-full">
    {{ $company_name := .Title }}
    {{ $company_uuid := .Params.uuid }}
    {{ $pressreleases := where site.RegularPages "Type" "newswire" }}
    {{ with where $pressreleases ".Params.company" $company_uuid }}
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="w-full py-12">
            <h2 class="text-7xl">Newswire</h2>
            <p>Press releases from {{ $company_name }}</p>
        </div>
        <div class="w-full grid grid-cols-1 auto-rows-fr gap-8 md:grid-cols-2">
            {{ range . }}
                {{ if .Params.featured_image }}
                    {{ partial "newswire/card.html" . }}
                {{ end }}
            {{ end }}
        </div>
    </div>
    {{ end }}
</section>