{{ define "main" }}
<article>
  <div class="mx-auto w-full border-y-4 mt-12">
    <div class="py-12 px-2 mx-auto text-center max-w-7xl 2xl:border-x-4">
      <h1 class="text-4xl md:text-6xl">{{ .Title }}</h1>
      <div class="pt-4 text-2xl">
        {{ partial "newswire/meta.html" . }}
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 mx-auto max-w-7xl md:grid-cols-3 2xl:border-x-4">
    <div class="flex flex-col w-full md:col-span-2">
      {{ $image := .Resources.GetMatch .Params.featured_image -}}
      {{ $image_caption := .Title }}
      {{ if .Params.featured_image_caption }}
        {{ $image_caption = .Params.featured_image_caption }}
      {{ end }}
      {{ $image_placeholder := "assets/images/newswire_placeholder" }}
      <div fetchpriority="high" class="w-full relative">
        {{ if $image -}}
          {{ if .Site.Params.hyas_images }}
            {{ partial "picture" (dict
            "ctx" .
            "src" $image
            "alt" $image_caption
            "class" "img-fluid aspect-video object-cover w-full"
            "loading" "auto"
            "widths" (slice 300 450 600 900)
            )}}
          {{ else }}
            <img src="{{ $image.RelPermalink }}" class="aspect-video object-cover w-full">
          {{ end }}
          {{ if .Params.featured_image_caption }}
            <span class="w-full block px-6 py-2 bg-gray-100">{{ $image_caption | markdownify }}</span>
          {{ end }}

        {{ else }}
          {{ if .Site.Params.hyas_images }}
            {{ partial "picture" (dict
            "ctx" .
            "src" $image_placeholder
            "alt" .Title
            "class" "img-fluid aspect-video object-cover w-full"
            "loading" "auto"
            "widths" (slice 300 450 600 900)
            )}}
          {{ else }}
            <img src="{{ $image_placeholder }}" class="img-fluid blur-up aspect-video object-cover w-full">
          {{ end }}
        {{ end -}}
        {{ partial "newswire/flags.html" . }}
      </div>
      
      <div class="w-full prose prose-xl mx-auto px-2 py-6">
        {{ .Content }}
      </div>

    </div>
    <div class="flex flex-col w-full gap-6 md:col-span-1">
      <aside class="flex flex-col gap-6 w-full mt-6 px-2 md:pl-0">
        <div>
          <h2 class="text-lg font-bold">News provided by:</h2>
          {{ partial "newswire/company.html" . }}
        </div>
        <div>
          <h3 class="text-lg font-bold">Categories:</h3>
          {{ partial "newswire/categories.html" . }}
        </div>
        {{ if .Params.additional_images }}
        <div>
          <h3 class="text-lg font-bold">Additional images:</h3>
          {{ partial "newswire/additional_images.html" . }}
        </div>
        {{ end }}
      </aside>

      <aside class="hidden w-full mt-12 px-2 md:block md:pl-0 md:h-fit md:sticky md:top-0">
        <h2 class="text-3xl my-2 border-b-2">Latest Press Releases</h2>
        {{ partial "newswire/latest.html" . }}
      </aside>
      
    </div>

    <div class="flex flex-col w-full md:col-span-2">
      <aside class="w-full px-2 md:pl-6 md:pr-0">
        {{ partial "newswire/directory.html" . }}
      </aside>
    </div>

    <div class="flex flex-col w-full gap-6 md:col-span-1 md:hidden">
      <aside class="w-full mt-12 px-2 md:pl-0 md:h-fit md:sticky md:top-0">
        <h2 class="text-3xl my-2 border-b-2">Latest Press Releases</h2>
        {{ partial "newswire/latest.html" . }}
      </aside>
    </div>

  </div>
</article>
{{ end }}