<div class="w-full grid grid-cols-2 md:grid-cols-3 gap-4 pb-2">
  <div class="flex flex-col w-full">
    {{ if .Params.proteins -}}
      <h2 class="text-xl text-medium border-b-2">Protein</h2>
      <div class="flex flex-row flex-wrap gap-2 pt-2">
        {{ range $index, $proteins := .Params.proteins -}}
        <a class="border-2 p-2" href="{{ "/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
      {{ end -}}
      </div>
    {{ end -}}
  </div>
  <div class="flex flex-col w-full">
    {{ if .Params.products -}}
      <h2 class="text-xl text-medium border-b-2">Products</h2>
      <div class="flex flex-row flex-wrap gap-2 pt-2">
        {{ range $index, $products := .Params.products -}}
          <a class="border-2 p-2" href="{{ "/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
        {{ end -}}
      </div>
    {{ end -}}
  </div>
  <div class="flex flex-col w-full">
    {{ if .Params.business -}}
      <h2 class="text-xl text-medium border-b-2">Business</h2>
      <div class="flex flex-row flex-wrap gap-2 pt-2">
        {{ range $index, $business := .Params.business -}}
          <p class="border-2 p-2">{{ . }}</p>
        {{ end -}}
      </div>
    {{ end -}}
  </div>
  <div class="flex flex-col w-full">
    <h2 class="text-xl text-medium border-b-2">Location</h2>
    <div class="flex flex-row flex-wrap gap-2 pt-2">
      <p>
        {{ if .Params.city }}
          {{ if ne .Params.city .Params.country }}
            {{ .Params.city }}, {{ .Params.country }}
          {{ else }}
            {{ .Params.city }}
          {{ end }}
        {{ else }}
          {{ .Params.country }}
        {{ end }}
      </p>
    </div>
  </div>
  <div class="flex flex-col w-full">
    {{ if .Params.founded -}}
      <h2 class="text-xl text-medium border-b-2">Founded</h2>
      <div class="flex flex-row flex-wrap gap-2 pt-2">
          <p class="">{{ .Params.founded }}</p>
      </div>
    {{ end -}}
  </div>
  <div class="flex flex-col w-full">
    {{ if .Params.founders -}}
      <h2 class="text-xl text-medium border-b-2">Founders</h2>
      <div class="flex flex-row flex-wrap gap-2 pt-2">
        <p class="">{{ .Params.founders }}</p>
      </div>
    {{ end -}}
  </div>
</div>