<div class="flex flex-col gap-2">
  {{ if .Params.proteins -}}
    <h3 class="border-b-2 w-1/2 font-bold">Protein focus</h3>
    <div class="flex flex-row flex-wrap gap-2">
      {{ range $index, $proteins := .Params.proteins -}}
        <a class="border-2 p-2" href="{{ "/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
      {{ end -}}
    </div>
  {{ end -}}

  {{ if .Params.products -}}
    <h3 class="border-b-2 w-1/2 font-bold">Product focus</h3>
    <div class="flex flex-row flex-wrap gap-2">
      {{ range $index, $products := .Params.products -}}
        <a class="border-2 p-2" href="{{ "/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
      {{ end -}}
    </div>
  {{ end -}}

  {{ partial "job/location.html" . }}

  {{ if .Params.regions -}}
  <h3 class="border-b-2 w-1/2 font-bold">Region focus</h3>
  <div class="flex flex-row flex-wrap gap-2">
      {{ range $index, $regions := .Params.regions -}}
        <a class="border-2 p-2" href="{{ "/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
      {{ end -}}
  </div>
  {{ end -}}

  {{ if .Params.job_type -}}
  <h3 class="border-b-2 w-1/2 font-bold">Job type</h3>
  <div class="flex flex-row flex-wrap gap-2">
      {{ range $index, $job_type := .Params.job_type -}}
        <p class="border-2 p-2">{{ . }}</p>
      {{ end -}}
  </div>
  {{ end -}}

  {{ if .Params.career_category -}}
  <h3 class="border-b-2 w-1/2 font-bold">Career category</h3>
  <div class="flex flex-row flex-wrap gap-2">
      {{ range $index, $career_category := .Params.career_category -}}
        <p class="border-2 p-2">{{ . }}</p>
      {{ end -}}
  </div>
  {{ end -}}

  {{ with .Params.remote -}}
    <h3 class="border-b-2 w-1/2 font-bold">Remote</h3>
    <div class="flex flex-row flex-wrap gap-2">
        <p class="border-2 p-2">Yes</p>
    </div>
  {{ else }}
    <h3 class="border-b-2 w-1/2 font-bold">Remote</h3>
    <div class="flex flex-row flex-wrap gap-2">
        <p class="border-2 p-2">No</p>
    </div>
  {{ end }}

  {{ if .Params.work_environment -}}
  <h3 class="border-b-2 w-1/2 font-bold">Work environment</h3>
  <div class="flex flex-row flex-wrap gap-2">
      {{ range $index, $work_environment := .Params.work_environment -}}
        <p class="border-2 p-2">{{ . }}</p>
      {{ end -}}
  </div>
  {{ end -}}

  {{ if .Params.work_hours -}}
  <h3 class="border-b-2 w-1/2 font-bold">Work hours</h3>
  <div class="flex flex-row flex-wrap gap-2">
      {{ range $index, $work_hours := .Params.work_hours -}}
        <p class="border-2 p-2">{{ . }}</p>
      {{ end -}}
  </div>
  {{ end -}}

  {{ with .Params.application_link }}
    <a href="{{ . }}" class="p-4 mt-4 text-center border-2 w-full">Apply</a>
  {{ end }}
</div>