{{ if .Params.company}}
  {{ $company_uuid := .Params.company }}
  {{ $companies := where site.RegularPages "Type" "directory" }}
  {{ with where $companies ".Params.uuid" $company_uuid }}
    {{ with index . 0 }}
      {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
      {{ if $image }}
        {{ if .Site.Params.hyas_images }}
          {{ partial "picture" (dict
          "ctx" .
          "src" $image
          "alt" .Title
          "class" "img-fluid blur-up aspect-square w-full object-contain"
          )}}
        {{ else }}
          <img src="{{ $image.RelPermalink }}" class="aspect-square w-full object-contain">
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else if .Params.company_name }}
  <div class="aspect-square basis-36 sm:basis-56 md:basis-36 flex items-center justify-center">
    <p class="lg:text-2xl w-min p-2 font-bold">{{ .Params.company_name }}</p>
  </div>
{{ end }}
