<div class="flex flex-row flex-wrap justify-center items-center gap-4">
    <p><small>Posted: {{ .PublishDate.Format "January 2, 2006" }}</small></p>
    {{ with .Params.closing_date }}
        <p class="flex flex-row items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>
                Closing: {{ . | time.Format ":date_long" }}
            </small>
        </p>
    {{ end }}
</div>


  