<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}" data-theme="light">
  {{ partial "head/head.html" . }}
  {{ partial "head/body-class.html" . }}
  <body class="{{ delimit (.Scratch.Get "class") " " }}" >
    {{ partial "header/header.html" . }}
    <main class="flex-auto">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer/footer.html" . }}
    {{ if templates.Exists "partials/footer/script-footer.html" -}}
      {{ partial "footer/script-footer.html" . }}
    {{ else -}}
      {{ partial "footer/script-footer-core.html" . }}
    {{ end -}}
  </body>
</html>